
ion-card{
    margin-top: 3%;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 6%;
    background-color: white;
    font-weight: bold;
    
}

ion-button{
      margin-left: 50%;
     
      font-weight: bold;
}

ion-content {
    --ion-background-color: rgba(144, 238, 144, 0.37);
    /* Set your desired background color */
}
h2{
    text-align: center;
    background-color: white;
    color: white;
}
h3 {
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
    
}
ion-item{
    background-color: white;
}

.mn{
    --ion-background-color: white;
    font-weight: bold;
    /* Set your desired background color */
}
h4{
    font-weight: bold;
}
ion-label{
    font-weight: bold;
}