

<ion-content>
        <ion-item *ngFor="let docreg of docregs">
          <img src="./assets/v1.png">
          <ion-label class="s1">
            <h1>{{docreg.name}}</h1>
            <h3>Mobile NO :{{docreg.mobileno}}</h3>
            <h3>Address :{{docreg.city}}, {{docreg.state}} .</h3>
          </ion-label>
        </ion-item>

        <div class="appointment-box">
          <p>Appointment Schedules</p>
        </div>
        
        
        
        <ion-item *ngFor="let petform of petforms">
          
          <ion-label class="s2">
            <h2 style="font-weight: bold;">Name : {{petform.name}}</h2>
            <h3>Mobile NO : {{petform.contact}}</h3>
            <h3>Address : {{petform.address}}.</h3>
          </ion-label>
        
        </ion-item>
</ion-content>
